/* Contacts List */
.contacts-list {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 0.8rem;
  align-items: center;
  justify-content: start;
  height: 80vh;
  overflow-y: scroll;
}
